#main {
    display: grid;
    width: 40%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

section>div {
    border: 1px solid red;
    text-align: center;
    font-size: 25px;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
}

#roll {
    width: 200px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 30px;
}

#winner {
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    margin: auto;
    margin-bottom: 30px;
}